* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

.app {
    display: flex;
    display: -webkit-flex;
}
.description{
	max-width:705px;
    	color: #7C8B88;
	margin: 20px;
  	font-size: 19px; 
}
.screenshots{
	max-width:460px;
}
img {
	margin: 20px;
}
h1.title {
    background-color: #33BEBE;
    margin: 20px;
    color: white;
}
